{% extends 'network/main.html' %}

{% block content %}
{# TODO: fix title #}
<h2>All posts</h2>
{% if view.is_profile %}
	<div>
		<span>n° followers: {{ view.get_user.nfollowers }}</span>
		<span>n° followings: {{ view.get_user.nfollows }}</span>
		{% if user.is_authenticated %}
			<a href="{% url 'network:follow' view.get_user.id %}">follow/unfollow</span>
		{% endif %}
	</div>
{% endif %}
{% if user.is_authenticated %}
	<form action="{% url 'network:add' %}" method="POST" class="add-post-form">
		{% csrf_token %}
		{{ params.form }}
		<button type="submit" class="submit-post">New post</button>
	</form>
{% endif %}
{% if params.posts %}
	<div class="posts">
		{% for post in params.posts %}
		<div class="post">
			<div>
				<span class="name">{{ post.name }}</span>
				{% if user.is_authenticated %}
					{% if post.owner.id == user.id %}
					<a href="{% url 'network:edit'   post.id %}">🖉</a>
					<a href="{% url 'network:delete' post.id %}">🗑</a>
					{% endif %}
				{% endif %}
			</div>
			<div>
				By <span class="author">
					<a href="{% url 'network:profile' post.owner.id %}">
						{{ post.owner }}
					</a>
				</span> -
				<span class="cdate">{{ post.cdate }}</span>
				{% if post.mdate != post.cdate %}
				<span>
					Modified: <span class="mdate">{{ post.mdate }}</span>
				</span>
				{% endif %}
			</div>
			<pre class="content">{{ post.content }}</pre>
			<div>
				{% if user.is_authenticated %}
					<a href="{% url 'network:like' post.id %}">
						❤️
					</a> {{ post.nlikes }}
				{% else %}
					❤️ {{ post.nlikes }}
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
{% else %}
	<p> No posts yet! </p>
{% endif %}
{% endblock %}