<div class="post">
	<div>
		<span class="name">{{ post.name }}</span>
		{% if user.is_authenticated and user.pk == post.owner.id %}
			<a class='delete-link' href="{% url 'network:delete' post.id %}">🗑</a>
			<a class='edit-link'   href="{% url 'network:edit'   post.id %}">🖉</a>
		{% endif %}
	</div>
	<div>
		By <span class="author">
			<a href="{% url 'network:profile' post.owner.id %}">
				{{ post.owner }}
			</a>
		</span> -
		<span class="cdate">{{ post.cdate }}</span>
		{% if post.mdate != post.cdate %}
		<span>
			Modified: <span class="mdate">{{ post.mdate }}</span>
		</span>
		{% endif %}
	</div>
	<pre class="content">{{ post.content }}</pre>
	{% if user.is_authenticated %}
		<a class="like-link" href="{% url 'network:like' post.id %}">
			❤️
		</a> <span name="nlikes">{{ post.nlikes }}</span>
	{% else %}
		❤️ {{ post.nlikes }}
	{% endif %}
</div>
